body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height : 20%;
    min-height: 50px;
    background-color : rgba(200, 200, 230, 0.5);
    margin : 15px 40px;
    padding : 30px;
    text-align: center;
    font-size: 30px;
}

main {
    height : 80%;
    margin : 15px 40px;
    min-height: 500px;
}

.image-container {
    background-color : rgba(150, 150, 180, 0.5);
    min-height: 500px;
}

.profile-img {
    padding : 20px;
    min-width : 20%; 
    max-height : 700px;
    height : auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-section {
    background-color : rgba(150, 150, 180, 0.5);
    margin : 40px 0;
    font-size : 30px;
}

.header-section {
    background-color: rgba(100, 100, 150, 0.7);
    padding : 25px 40px;
    display: flex;
    justify-content: space-between;
}

.content-section {
    padding : 25px 40px;
    display : none;
}

.arrow {
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
}

.arrow:hover {
    cursor: pointer;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}